# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Unnecessary files
documentation
*.*~
ns-3.13/.waf*
ns-3.13/build
ns-3.13/traces/*
ns-3.13/Debug
ns-3
